@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "aBigDeal";
    src: url("./fonts/aBigDeal.ttf");
}

:root {
    --logo-red: rgb(228, 22, 22);
    --logo-green: rgb(32, 192, 32);
    --silver: rgb(199, 199, 199);
    --logo-top: .75em;
    --logo-red-left: .4em;
    --logo-green-left: 2em;
    --logo-space: 1.5em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(46, 56, 46);
    margin: 0;
    padding: 0;
    height: 98vh;
    align-items: center;
}

body,
.flex,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

input, label{
    display: block;
}

input,
select,
button {
    font-family: inherit;
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
select {
    height: 2em;
}

input:focus,
select:focus {
    outline: 1px solid black;
}

a:link {
    text-decoration: none;
}

p { 
    margin: 0;
}

button {
    margin: 0;
    background-color: rgb(140, 207, 140);
    border: 2px solid rgb(29, 68, 29);
    width: 150px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bolder;
}

label {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    text-shadow: black 1px 1px 1px;
}

fieldset {
    border: 2px solid black;
    background-color: rgb(190, 212, 190);
}

legend {
    color: var(--silver);
    font-weight: bold;
    background-color: black;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    
}

#panel-left {
    position: relative;
    border-radius: 20px 0px 0 20px;
    background-color: #c6cec8;
    background-image: url("./img/kamenside.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    min-width: 20em;
    min-height: 45em;
}

#main {
    background-color: #c6cec8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
    max-width: 1200px;
    border-radius: 20px;

}

/* 
    All logo styling is as follows:
*/

.flyer {
    font-family: 'aBigDeal';
    font-size: 3em;
    padding-top: 6px;
    padding-left: 1rem;
    height: 50px;
    position: absolute;
    transform: rotate(-5deg);
    z-index: 1;
}

.flyer:before,
.flyer:after {
    position:absolute;
    top: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    content: "";
    width: 0;
    height:0
}

.flyer:before {
    border-left: 28px solid transparent;
    left: -27px;
}

.flyer:after {
    border-right: 28px solid transparent;
    left: calc(100% - 1px);
}

.shadow {
    background-color: black;
    z-index: 0;
}

.shadow:before,
.shadow:after {
    border-top-color: black;
    border-bottom-color: black;
}

#panel-left :nth-child(4n + 2) {
    left: calc(var(--logo-red-left) + .2em)
}

#panel-left :nth-child(4n + 4) {
    left: calc(var(--logo-green-left) + .2em)
}

.fly-red {
    background-color: var(--logo-red);
    left: calc(var(--logo-red-left));
    text-shadow: 2px 2px var(--logo-green);
}

.fly-red:before,
.fly-red:after {
    border-top-color: var(--logo-red);
    border-bottom-color: var(--logo-red);
}

.fly-green {
    background-color: var(--logo-green);
    left: calc(var(--logo-green-left));
    text-shadow: 2px 2px var(--logo-red);
}

.fly-green:before,
.fly-green:after {
    border-top-color: var(--logo-green);
    border-bottom-color: var(--logo-green);
}

#logo-1,
#logo-1-shadow {
    width: 13.5rem;
}

#logo-1 {
    top: var(--logo-top);
}

#logo-1-shadow {
    top: calc(var(--logo-top) + .2em);
}

#logo-2,
#logo-2-shadow {
    width: 11.5rem;
}

#logo-2 {
    top: calc(var(--logo-top) + var(--logo-space));
}

#logo-2-shadow{
    top: calc(var(--logo-top) + var(--logo-space) + .2em);
}

#logo-3,
#logo-3-shadow {
    width: 9rem;
}

#logo-3 {
    top: calc(var(--logo-top) + calc(var(--logo-space) * 2) + .2em);
}

#logo-3-shadow {
    top: calc(var(--logo-top) + calc(var(--logo-space) * 2) + .4em);
}

#logo-4 {
    top: calc(var(--logo-top) + calc(var(--logo-space) * 3) + .1em);
}

#logo-4,
#logo-4-shadow {
    width: 11rem;
}

#logo-4-shadow {
    top: calc(var(--logo-top) + calc(var(--logo-space) * 3) + .3em);
}

/* 
    --end logo styling--
*/

#panel-right {
    min-width: 715px;
    flex-grow: 1;
}

/*
    Top section of the right panel
*/


#right-head {
    background-image: url("./img/kamentop.png");
    background-image: linear-gradient(to right, #c6cec8, transparent 30%), url("./img/kamentop.png");
    background-color: #c6cec8;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 20px 0 0;
    height: 160px;
    justify-content: space-between;    
}

/*
    top portion's pointing arrows:
*/

#head-call {
    flex-grow: 1;
    max-width: 55%;
    min-width: 50%;
}

.call {
    height: 80px;
    position: relative;
    font-family: 'aBigDeal';
    font-size: 4em;    
}

#call-top,
#call-bottom-left {
    padding: 10px 20px 0;
}

.call:before {
    position: absolute;
    border: 40px solid transparent;
    content: "";
    left: -80px;
    top: 0px;
}

#call-top:before {
    border-right-color: var(--logo-red);
}

#call-bottom:before {
    border-right-color: var(--logo-green);
}

#call-top {
    border-radius: 0 20px 0 0;
    background-color: var(--logo-red);
    text-shadow: 5px 3px var(--logo-green);
}

#call-bottom {
    justify-content: space-between;
    background-color: var(--logo-green);
    text-shadow: 5px 3px var(--logo-red);
}

#call-bottom-right {
    background-color: var(--logo-red);
    width: 20px;
}

/*
    --End of top's arrow styling
*/

#right-body {
    background-color: black;
    height: 500px;
    border-radius: 10px 0 0 0;
    justify-content: space-between;
}

#body-top {
    background-color: var(--silver);
    margin: 0;
    padding: 5px;
    height: 25%;
    border-radius: 20px 20px 0 0;
}

#form-top {
    background-color: rgb(226, 110, 110);
    margin: 0;
    height: 50%;
    padding: 30px;
}

#form-bottom {
    background-color: var(--silver);
    border-radius: 0 0 20px 20px;
    height: 25%;
    padding-left: 20px;
    padding-top: 5px;
}

#quote-row {
    justify-content:space-around;
}

#quote-row>p {
    margin-top: 8px;
    width: 225px;
    font-size: .9rem;
    font-weight: bold;
}

#body-top>h1 {
    font-family: 'aBigDeal';
    white-space: nowrap;
    font-size: 50px;
    margin: 10px;
    align-self: center;
    text-shadow: 5px 5px var(--logo-red), 10px 10px var(--logo-green);
}

form {
    width: 100%;   
    margin: 10px;
}

input + span {
    position: relative;
}

fieldset>p {
    font-size: .9rem;
}

input:required + span::after {
    font-size: 1rem;
    position: absolute;
    content: "*";
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    top: -50px;
    right: -205px;
}

#nomatch {
    font-size: .75rem;
    position: absolute;
    color: red;   
}

#form-bottom>p {
    font-size: .9rem;
}

.form-row { 
    gap: 50px;
    margin-bottom: 25px;
}

#mid-stripe-green {
    background-color: var(--logo-green);
    width: 20px;
    height: 100%;
}

#mid-stripe-red {
    background-color: var(--logo-red);
    width: 20px;
    height: 100%;
}

#mid-low-stripe {
    background-color: black;
    padding-left: 10px;
    justify-content: space-between;
}

#mlst-left {
    background-color: var(--logo-green);
    height: 20px;
    width: 100%;
}

#mlst-right {
    background-color: var(--logo-red);
    width: 21px;
    height: 20px;
}

#mid-low-stripe-bottom {
    background-color: var(--logo-red);
    border-radius: 0 0 10px 10px;
    height: 20px;
    width: 100%;
}

#right-foot {
    justify-content: center;
    align-items: center;
    color: var(--silver);
    font-size: .75rem;
    background-color: black;
    border-radius: 0 0 20px 0;;
    height: 100px;
}
